@import '../../../../node_modules/bulma/css/bulma.min.css';
@import './variables.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-size: $primary-size;
  text-rendering: optimizeLegibility;
  position: relative;
  min-height: 100vh;
  height: auto;
}

.img__width--full {
  width: 100% !important;
}

.is-absolute {
  position: absolute !important;
}

.underline {
  width: 3em;
  border-bottom: 0.25rem solid #002bff;
  margin: 0.5rem auto;
}

.about-image {
  width: 100% !important;
  height: auto !important;
  max-height: 80vh;
}

.contact-buttons > div {
  width: 49%;
}