.column__background--white {
  background: #fff;
  border-radius: 0.25rem !important;
  opacity: 0.9;
}

.contact-text {
  letter-spacing: 0.2rem;
}

.hero-container {
  min-height: 100vh;
  height: auto;
  overflow: hidden;
}

.img-wrapper {
  height: 89vh !important;
  max-height: 89vh !important;
}